@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body, .container {
	height: 100%;
}

body {
	background: #279989;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	overflow: hidden;
	overflow-y: scroll;
	min-height: 590px;
}

img{
	max-width: 100%;
	height: auto;
}

a {
	color: rgba(0,0,0,0.3);
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #fff;
}

input[type=checkbox]{
	visibility: hidden;
}

.fs-title > *{
		display: 	inline-block;
}
.branding{
	max-width: 150px;
	vertical-align: middle;
}